<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- Left Side -->
                    <div class="col-md-6 col-12 header-right">
                        <figure>
                            <img src="images/about.png" alt="aneesh's app" class="img-fluid" title="aneesh weather app">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 header-left">
                        <p class="hm-title"> Welcome to Weather App by Aneesh</p>
                        <h1> A <span class="txt-clr">Mern Stack Developer</span> and Web Designer</h1>
                        <a href="https://www.wishaneesh.com" target="_blank"><button class="btn">About Me</button></a>
                    </div>

                    <!-- Right Side -->

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
</body>

</html>