 <!DOCTYPE html>
 <html lang="en">
 <head>
   {{>headerlinks}}
 </head>
 <body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-10 col-12 mx-auto">
    
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                       <form action="" class="temp_form">
                            <input type="text" id="city-name" placeholder="Enter City Name" autocomplete="off">
                            <input type="submit" value="search" id="submit-btn">
                       </form>
                    </div>    
                </div>
                <div class="temp-info">
                    <div class="top-layer">
                        <p id="day"> Tuesday </p>
                        <p id="today-data">1 Oct</p>
                    </div>
                    <div class="main-layer">
                        <p id="city-name">Output Here</p>
                    </div>
                    <div class="middle-layer data-hide">
                        <p id="temp"><span>0</span> <sup>0</sup>C</p>
                        <p id="temp-stats"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
 </body>
 </html>