*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg : #1e272e;
    --main-color : #0097e6;
}
html{
    font-size: 1rem;
}
body{
    height: 100vh
}
.row{
    margin: 0;
}
.main-menu{
    background-color: var(--main-bg);
}
.navbar{
    color: aliceblue;
    background-color: var(--main-bg);
    padding: 1rem;
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    color: aliceblue;
    font-size: 1.2rem;
}
.navbar a:hover{
    color: aquamarine;
}
.navbar-toggler{
    background-color: rgb(122, 122, 122);
}
.hm-title {
    font-size: 1.5rem;
}

.bg-w{
    height: 10%;
}
.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-left p {
    font-size: 2rem;
}
.header-left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.header-left .txt-clr{
color: var(--main-color);
}
.header-left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.header-left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-right figure img{
    filter: drop-shadow(0 0.5rem 1rem var(--main-color));
}

/* Weather Page */
.temp-form{
    width: 80%;
    position: relative;
    margin: 0.7rem auto 0.5rem;
}

.temp-form input[type="text"]{
    width: 100%;
    padding: 1.3rem 5rem 1.3rem 1.3rem;
    background-color: #1e202b;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

::placeholder{
    color: #bfc1c8;
}

.temp-form input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    padding: 0 2rem;
    background-color: #457dff;
    color: #fff;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

.temp-info{
    width:400px;
    margin: auto;
    min-height: 7rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto",sans-serif;
}
.top-layer{
    width: 100%;
    height: 20%;
    position: relative;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
  
}
.top-layer p{
    color: #fff;
    font-weight: 300;
    padding: 1rem;
    font-size: 1.3rem;
}

.main-layer{
    width: 100%;
    height:80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main-layer #city-name{
    padding:1rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main-layer .middle-layer{
    display: flex;
    justify-content: space-around;
  color: #fff;
}

.main-layer .middle-layer p,
.main-layer .middle-layer .fa{
    font-size: 5rem;
    font-weight: 900;
}
.fa{
    color: #009ad8;
}
sup{  
    font-size: 3rem;
    margin-top: -2rem;
}
.data-hide{
    visibility: visible;
    transition: all 0.3s linear;
}
/*error page*/
.errimg img{
    width:50%;
}


/*footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--main-bg);
}
footer p{
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
}

/* responsive */
@media(max-width: 768px){
    .header-left{
        height: auto;
        margin: 5rem 0;
    }
    .header-right{
        height: auto;
        margin: 3rem 0;
    }
}