*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root{
    --main-bg : #1e272e;
    --main-color : #0097e6;
}
html{
    font-size: 1rem;
}
.row{
    margin: 0;
}
.main-menu{
    background-color: var(--main-bg);
}
.navbar{
    color: aliceblue;
    background-color: var(--main-bg);
    padding: 1rem;
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    color: aliceblue;
    font-size: 1.2rem;
}
.navbar a:hover{
    color: aquamarine;
}
.navbar-toggler{
    background-color: rgb(122, 122, 122);
}
.hm-title {
    font-size: 1.5rem;
}
h1 {
    color: blue;
}
.bg-w{
    height: 10%;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    background-color: #fff;
}

